@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 93 35% 30%;
    --card: 0 0% 100%;
    --card-foreground: 93 35% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 93 35% 30%;
    --primary: 93 35% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 240 6% 10%;
    --muted: 93 35% 95%;
    --muted-foreground: 93 35% 65%;
    --accent: 93 35% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 93 35% 90%;
    --input: 93 35% 95%;
    --ring: 93 35% 45%;
    --chart-1: 93 35% 45%;
    --chart-2: 93 35% 65%;
    --chart-3: 93 35% 25%;
    --chart-4: 93 35% 85%;
    --chart-5: 93 35% 15%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 93 35% 10%;
    --foreground: 0 0% 100%;
    --card: 93 35% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 93 35% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 93 35% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 93 35% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 93 35% 20%;
    --muted-foreground: 0 0% 80%;
    --accent: 93 35% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 93 35% 20%;
    --input: 93 35% 20%;
    --ring: 93 35% 45%;
    --chart-1: 93 35% 45%;
    --chart-2: 93 35% 65%;
    --chart-3: 93 35% 25%;
    --chart-4: 93 35% 85%;
    --chart-5: 93 35% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}